<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\james\Documents\Visual Studio 2015\Projects\PhoneBook\PhoneBook\PhoneBook.mdf';Integrated Security=True;Connect Timeout=30" name="ConString"/>
  </connectionStrings>
</configuration>